<!DOCTYPE html>
<html>

<head>
	<title><%=title%></title>
</head>
<body>
<div>
<h1>Enter author name</h1>
<form action='/home/query' method='post'>
<input type="textarea" name="searchQ">
<input type="submit" name="submit_button" value="query">
</form>
</div>
</body>

</html>
