<h1><%= title %></h1>
<h1>You queried for: <%=queried%></h1>

<div id="list">
  <form method="post" accept-charset="utf-8">


	<table style="width:300px">
	<thead>
		<td>Name of author:</td>
		<td>Books</td>
	</thead>
	<% itemsChild.forEach( function ( itemsChild ){ %>
	<tr>
	
	  <td><%= itemsChild.author %></td>
	  <td><%= itemsChild.book %></td>
	  
	 <% }); %>
	  
	</tr>
	</table>

  </form>
 </div>
 

