<h1><%= title %></h1>

<div id="list">
  <form action="/create" method="post" accept-charset="utf-8">
    <div class="item-new">
      <input class="input" type="text" name="content" />
    </div>
  </form>

<% itemsChild.forEach( function ( itemsChild ){ %>
  <div class="item">
    <h1><%= itemsChild.author %></h1>
  </div>
<% }); %>
</div>